.filler-red {
    background-color: lightpink;
}

.filler-bg {
    background: #d4dce6;
    color: black;
    margin: 5px;
    border-radius: 2px;
}

#header {
    max-height: 60px;
}

#chart {
    cursor: grabbing;
    /* height: 0vmax; */
}

text {
    cursor: pointer;
}

.clm-wide1 {
    /* height: 600px; */
    max-width: 65%;
    padding: 5px;
}

.red_text {
    fill: red;
}

.black_text {
    fill: black;
}

#text-column {
    width: 100%;
}

#text_area {
    /* max-height: 600px; */
    flex: 1 0 auto;
    height: 96%;
    width: 96%;
    margin: 2%;
}

#text-view {
    width: 100%;
    height: calc(100% - 40px);
    overflow-y: scroll;
    color: black;
    font-size: 10pt;
    padding: 10px;
}

#mini-toolbar,
#toolbar {
    opacity: 90%;
    top: 0;
    position: absolute;
    background: blue;
    height: 30px;
    display: none;
    width: auto;
    justify-content: space-around;
}

#mini-toolbar div,
#toolbar div {
    opacity: 100% !important;
    background: rgb(173, 139, 88);
    width: auto;
    height: 20px;
    margin: 3px;
    border-radius: 2px;
    display: block;
    font-size: x-small;
    cursor: pointer;
}

#save_area {
    display: none;
}

#toolbar {
    display: flex;
    position: relative;
}

#collapsible-id.is-visible {
    height: 93% !important;
}


/* view slider for adjusting map size */

.range-slider {
    -webkit-appearance: none;
    width: 20%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.range-slider:hover {
    opacity: 1;
}

.range-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
}

.range-slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
}

#quiz_choices {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;
    left: 0;
    top: 0;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}


/* Rounded sliders */

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}