#chart {
    cursor: grabbing;
    /* height: 0vmax; */
}

text {
    cursor: pointer;
}

.clm-wide1 {
    /* height: 600px; */
    max-width: 65%;
    padding: 5px;
}

.red_text {
    fill: red;
}

.black_text {
    fill: black;
}

#text-column {
    width: 100%;
}


#quiz_choices {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;
    left: 0;
    top: 0;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    overflow: scroll;
}

.answer {
    display: inline-block;
    background-color: lightblue;
    font-size: 1.5em;
    margin: 5px;
    padding: 5px 10px;
    border-radius: 10px;
    color: black;
    height: auto;
    cursor: pointer;
}
