.filler-red {
    background-color: lightpink;
}

.filler-bg {
    background: #d4dce6;
    color: black;
    margin: 5px;
    border-radius: 2px;
}

#header {
    min-height: 60px;
    flex: 0 1 auto;
}

#chart {
    cursor: grabbing;
    /* height: 0vmax; */
}

text {
    cursor: pointer;
}

.clm-wide1 {
    /* height: 600px; */
    max-width: 65%;
    padding: 5px;
}

.red_text {
    fill: red;
}

.black_text {
    fill: black;
}

#text-column {
    width: 100%;
}

#text_area {
    /* max-height: 600px; */
    flex: 1 0 auto;
    height: 400px;
    width: 100%;
}

#text-view {
    width: 100%;
    height: calc(98%);
    overflow-y: scroll;
    color: black;
    font-size: 10pt;
    padding: 10px;
}

#mini-toolbar {
    opacity: 90%;
    top: 0;
    position: absolute;
    background: rgba(173, 173, 173, 0.6);
    height: 30px;
    display: none;
    width: auto;
    justify-content: space-around;
}

#mini-toolbar div {
    opacity: 100% !important;
    /*     background: rgb(173, 139, 88); */
    width: auto;
    height: 20px;
    margin: 3px;
    border-radius: 2px;
    display: block;
    font-size: 30 !important;
    cursor: pointer;
}

#toolbar div {
    margin: 10px;
}

#save_area {
    display: none;
}

#toolbar {
    display: flex;
    position: relative;
}

#collapsible-id.is-visible {
    height: 93% !important;
}


/* view slider for adjusting map size */

*:focus {
    outline: 0;
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
}

input:focus {
    outline: none !important;
}

.range-slider {
    -webkit-appearance: none;
    min-width: 230px;
    width: 20%;
    height: 30%;
    max-height: 10px;
    background: gray;
    border-radius: 5px;
    outline: none !important;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.range-slider:hover {
    opacity: 1;
}

.range-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    border-radius: 20px;
    appearance: none;
    width: 25px;
    height: 25px;
    background: bisque;
    cursor: pointer;
}

.range-slider::-moz-range-thumb {
    background-color: bisque;
    border-radius: 20px;
    width: 25px;
    height: 25px;
    border: none;
    cursor: pointer;
    outline: none;
}

#quiz_choices {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;
    left: 0;
    top: 0;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    overflow: scroll;
}

.answer {
    display: inline-block;
    background-color: lightblue;
    font-size: 1.5em;
    margin: 5px;
    padding: 5px 10px;
    border-radius: 10px;
    color: black;
    height: auto;
    cursor: pointer;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}


/* Rounded sliders */

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

#graph-list {
    /*     flex-wrap: wrap; */
    max-height: 50vh;
    /*     justify-content: stretch; */
    height: 400px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /*! min-width: 120px; */
    overflow: scroll;
}

#graph-list graph {
    /*     max-height: 2em; */
    /*! flex: 0 1 31%; */
    /*! min-width: 100px; */
    /*     width: 31%; */
    background-color: lightgrey;
    margin: 3px .5%;
    padding: 1px 3px;
    border-radius: 5px;
    cursor: pointer;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
}

#frm-open .modal-dialog {
    width: 60%;
    margin: 40px auto;
}

#frm-edit-text .modal-dialog {
    width: 50%;
    /*! height: 80%; */
}

graph span {
    min-width: 20px;
    min-height: 20px;
    margin: 2px;    
    flex: 0 0 20px;
}
graph span.number{
    text-align: center;
    background-color: skyblue;
    border-radius: 20px;
}
graph span.delete:hover {
    color: red;    
}
span.delete svg.svg-inline--fa, span.edit-name svg.svg-inline--fa{
    font-size: 18px !important;
}

graph span.graph_name{
    flex: 1 0 auto;
    text-align: left;
    background-color: rgba(15,15,15,0);
}
graph span.edit-name:hover{
    color: green;
}
#pages_links {
    display: flex;
    align-items: center;
    justify-content: center;
}

#pages_links a {
    display: block;
    cursor: pointer;
    color: black;
    background-color: bisque;
    border-radius: 10px;
    padding: 0.8em;
    margin: .5em;
    transition: background-color .5s;
}

#pages_links a:hover {
    background-color: orange;
}

#pages_links a.active_page {
    background-color: skyblue;
}

div svg:not(:root).svg-inline--fa {
    font-size: 25px;
}

.modal-body div.jHtmlArea {
    width: 100% !important;
}